.contact-form {
    background: url('https://st4.depositphotos.com/21389766/23112/i/450/depositphotos_231122574-stock-photo-contact-contact-write-email-support.jpg');
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 50%;
    background-position: center;
    background-size: cover;
    color: cornsilk;
}