.contact-form{
    background: url('https://media.istockphoto.com/photos/light-night-at-city-blue-bokeh-picture-id955097292?k=20&m=955097292&s=170667a&w=0&h=4jnjRQ1wyvDMHSEfn_oVjqQJdQyOHP2iwdF-ia6hLmM=');
    background-repeat: no-repeat;
    margin-top: 50px;
    width: 50%;
    background-position: center;
    background-size: cover;
    color: cornsilk;
}